h1 {
     background-color: darkgray;
     font-size: 30px;
     padding: 10px;
     margin: auto;
     text-align: center;
}
button {
     background-color: darkslateblue;
     color: floralwhite;
     font-size: 15px;

}
div {
     text-align: right;
}
